<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP Dischi 2</title>

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- FONTAWSOME -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>

    <!-- STYLE -->
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="root">
        <!-- SITE HEADER -->
        <header class="site-header">
            <div class="container flex ai-center jc-between">
                <img src="./img/logo.png" alt="logo">

                <!-- FILTERS -->
                <div class="filters flex ai-center jc-between">
                    <!-- SELECT GENRE -->
                    <div class="select-wrap">
                        <h2 for="genre">GENRES</h2>
                        <select class="input-field" v-model="selectedGenre" name="genre" id="genre" @change="callDisk">
                            <option value="all">All</option>
                            <option value="rock">Rock</option>
                            <option value="jazz">Jazz</option>
                            <option value="pop">Pop</option>
                            <option value="metal">Metal</option>
                        </select>
                    </div>

                    <!-- SEARCH -->
                    <div class="search-wrap flex">
                        <!-- Open/Close -->
                        <div class="open-close flex ai-center jc-center" @click="showSearch">
                            <i v-if="!isActive" class="fas fa-chevron-left" :class="{mark : (searchAuthor !== '' || searchTitle !== '')}"></i>
                            <i v-else class="fas fa-chevron-right"></i>
                        </div>
                        <!-- Searches Box -->
                        <div class="searches" :class="{active : isActive}">
                            <!-- Search Author -->
                            <div class="search-bar">
                                <input class="input-field" v-model.trim="searchAuthor" type="text" name="search-aut" id="search-aut" placeholder="Search Author" @keyup="callDisk">
                                <!-- Clear Button -->
                                <i class="fas fa-times" @click="clearSearch('author')"></i>
                            </div>
                    
                            <!-- Search Title -->
                            <div class="search-bar">
                                <input class="input-field" v-model.trim="searchTitle" type="text" name="search-tit" id="search-tit" placeholder="Search Title" @keyup="callDisk">
                                <!-- Clear Button -->
                                <i class="fas fa-times" @click="clearSearch('title')"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- SITE MAIN -->
        <main class="site-main">
            <div class="container flex">
                <!-- Card -->
                <div v-for="disk in diskList" class="card">
                    <img :src="disk.poster" alt="">
                    <h2>{{ disk.title }}</h2>
                    <h4>{{ disk.author }}</h4>
                    <h2>{{ disk.year }}</h2>
                    <h4>{{ disk.genre }}</h4>
                </div>
            </div>
        </main>
    </div>

    <!-- JAVASCRIPT -->
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Main Script -->
    <script src="./js/script.js"></script>
</body>
</html>