/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 12px;
    color: #fff;
    background-color: #182d3d;
}

/* UTILITIES */
.container{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* SITE HEADER */
.site-header{
    padding: 15px;
    background-color: #132431;
}
.site-header .container{
    justify-content: space-between;
    align-items: center;
}
.site-header img{
    width: 40px;
}
/* Search */
.search-author{
    position: relative;
}
.search-author input{
    height: 30px;
    padding: 0 5px;
    font-weight: bold;
    outline: none;
}
.search-author input:focus{
    background-color: rgba(0, 255, 89, 0.63);
}
.search-author i{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
}

/* SITE MAIN */
.site-main{
    padding: 30px;
}
.site-main .container{
    padding: 0 30px;
}
/* Card */
.card{
    width: calc(100% / 3 - 50px);
    margin: 25px;
    padding: 20px;
    background-color: #000;
    text-align: center;
}
.card img{
    max-width: 80%;
    margin-bottom: 20px;
}
.card h2,
.card h4{
    margin-bottom: 10px;
}